@{
    ViewData["Title"] = "Profile";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>My Profile</h1>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-body">
                <p>Nama: Naufal Abdirrahman Faiz</p>
                <p>NIM: 0920240041</p>
                <p>Program Studi: Teknologi Rekayasa Perangkat Lunak</p>
            </div>
        </div>
    </section>
</div>
